<mat-toolbar color="primary" role="heading">
  <mat-icon aria-hidden="false" class="p-8">sports_esports</mat-icon>
  <span>{{titleApp}}</span>
</mat-toolbar>
<mat-progress-bar [style.visibility]=" isLoading ? 'visible' : 'hidden'" mode="indeterminate"></mat-progress-bar>

<mat-card *ngIf="!readyToPlay" class="card-center text-center">
  <img alt="logo" mat-card-image src="assets/logo.jpg">
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="start()">
      <span class="p-8">Inizia a giocare</span>
      <mat-icon aria-hidden="false" class="p-8">play_circle</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<div class="p-16" [hidden]="!readyToPlay">
  <section class="score-panel p-8">
    <div class="float-left moves-counter no-bottom-margin text-center">
      <span class="score-number">{{movesCount}}</span>
      <br>
      <strong>Mosse</strong>
    </div>
    <div class="float-right no-bottom-margin text-center">
      <span class="score-number">{{matchedCount}}/6</span>
      <br>
      <strong>Coppie trovate</strong>
    </div>
  </section>
  <div class="grid p-16">
    <memory-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
    </memory-card>
  </div>
</div>
